.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 5px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-links {
  display: flex;
  p{
    padding: 10px;
    margin-bottom: 0px;
  }
}

i {
  font-size: 38px;
}